body{
    font-family: 'Roboto', sans-serif;
}

#headerBlock .navbar{
    background-color: white !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
                0 2px 6px 2px rgba(60, 64, 67, 0.15);            
}

#headerBlock .navbar .navbar-brand img{
    width: 116px;
}

#headerBlock .navbar .navbar-brand{
    margin-right: 50px;
}

#headerBlock .navbar .navbar-link{
    color: #5f6368;
    font-size: 14px;
    font-weight: bold;
}

#headerBlock nav{
    padding: 0px 20px;
    height: 48px;
}

#headerBlock .navbar .nav-link{
    padding: 15px 20px;
}

#headerBlock .navbar .nav-link:hover{
    border-bottom: 3px solid #5f6368;
}

#headerBlock nav input{
    padding: 0 0 0 34px;
    border: none;
    height: 38px;
}

.position-absolute{
    position: absolute !important;
    top: 15px;
    left: 10px;
    color: #888;
}

.dropdown button{
    margin: 10px;
    border: 1px solid #eee;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    padding: 8px 10px;
    margin: 8px;
}

.rightmenuwithblue:hover{
    background-color: rgb(231, 249, 255);
    border-bottom: none !important;
    padding: 8px !important;
    border-radius: 6px;
    margin: 8px;
}

.text h1{
    margin: 35px 0;
    font-weight: bold;
    color: white;
    font-size: 50px;
}
.btn-custom-hero{
    background: #fff;
    padding: 12px 60px;
    border-radius: 10px;
    color: #039be5;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.btn-custom-hero:hover{
    background-color: rgb(242, 252, 255);
    transition: ease-in-out all 0.3s;
    opacity: 50%;
}

.btn-custom-video{
    padding: 10px 30px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}

.btn-custom-video:hover{
    background-color: rgb(242, 252, 255);
    transition: ease-in-out all 0.3s;
    opacity: 50%;
}

#sliderBlock , #buildAppsSection{
    background: #039be5;
    height: 57vh;
    padding: 75px;
}

.hero_image{
    max-width: 100%;
    transform: scale(2.1);
    margin: 0px -125px;
    position: absolute;
    right: 12%;
    top: 45%;
    left: 48%;
}

#buildAppsSection h5{
    font-family: "Google-sans", sans-serif;
    font-weight: bold;
    color: rgb(68, 67, 67);
}

#buildAppsSection p{
    font-family: "Google-sans", sans-serif;
    color: rgb(131, 131, 131);
    font-size: 13px; 
    font-weight: 500; 
}

.jumbotron{
    margin: 0;
}

#buildAppsSection .container{
    background: white;
    border-radius: 10px;
    padding: 75px 100px 0px 100px;
    position: relative;
    margin-top: 80px;
}

#buildAppsSection .footerBlock1{
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    height: 85px; 
    border-radius: 10px; 
    margin-top: 60px;
    width: 121%;
    margin-left: -101px;
}

.sup{
    color: rgb(117, 117, 117);
    font-weight: lighter;
}

.iconsBlock i{
    color: darkgray;
}

#platformBlock{
    background: #ffd400;
    height: 400vh;
    padding: 110px;
    margin-bottom: 0;
}

#platformBlock .container{
    background: white;
    border-radius: 10px;
    padding: 0px;
    margin-top: 40px;
}

#platformBlock .card img{
    width: 285px;
    margin: 0 auto;
}

#platformBlock .container header{
    padding: 50px 0;
}

#platformBlock .container h1{
    color: #424242;
    letter-spacing: 1.5px;
}

#platformBlock .container .card-title{
    color: rgb(90, 90, 90);
    padding: 15px 20px 5px 7px;
    font-weight: 600;
}

#platformBlock .card, .list-group-item, .card-footer{
    border: none;
}

#platformBlock .card-text{
    padding: 5px 20px;
}

#platformBlock .list-group-item{
    display: flex;
}

#platformBlock .list-group-item aside .icons-1 i{
    background-color: #ffed19;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    padding: 20px 22px;
    border-radius: 100%;
    height: 60px;
    width: 60px; 
}

#platformBlock .list-group-item aside .icons-1 i:hover{
    background-color: orange;
    transition: ease-in-out 0.3s;
}

#platformBlock .list-group-item aside .icons-2 i{
    background-color: #ffa600;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    padding: 20px 25px;
    border-radius: 100%;
    height: 60px;
    width: 60px; 
}

#platformBlock .list-group-item aside .icons-2 i:hover{
    background-color: rgb(255, 138, 4);
    transition: ease-in-out 0.3s;
}

#platformBlock .list-group-item aside .icons-3 i{
    background-color: #fe6c6cd6;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    padding: 20px 19px;
    border-radius: 100%;
    height: 60px;
    width: 60px; 
}

#platformBlock .list-group-item aside .icons-3 i:hover{
    background-color: rgb(255, 81, 0);
    transition: ease-in-out 0.3s;
}

#platformBlock .list-group-item main h5{
    font-size: 16px;
    font-weight: 600;
    color: #4f4e4e;
}

#platformBlock .list-group-item main p{
    font-size: 14px;
    font-weight: light;
    color: #746c6c;
    margin: 0 0;
}

#ExtensionBlock header h2, #IntegrationBlock header h2{
    font-size: 43px;
    letter-spacing: 1.2px;
    color: #424242;
    font-weight: 800;
    padding-bottom: 20px;
}

#ExtensionBlock header sup{
    font-size: 15px;
    position: relative;
    top: -17px;
    font-weight: bold !important;
}

#ExtensionBlock img{
    width: 75px;
    padding-bottom: 20px;
}

#ExtensionBlock h5, #IntegrationBlock h5{
    font-size: small;
    font-weight: 600;
    color: #939393;
}

#ExtensionBlock footer .button{
    padding-top: 50px;
    margin-bottom: 25px;
}

#ExtensionBlock footer .button .btn{
    background-color: #039be5;
    padding: 14px 60px !important;
    border-radius: 6px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    width: 86%;
    margin: 0 auto;
}

#ExtensionBlock footer .button .btn:hover{
    background-color: #0278d8;
    transition: ease-in-out 0.1s;
}

#IntegrationBlock footer .button{
    margin-bottom: 55px;
}

#IntegrationBlock footer .button .btn{
    background-color: #039be5;
    padding: 14px 60px !important;
    border-radius: 6px;
    border: none !important;
    font-size: 19px;
    font-weight: bold;
    width: 66%;
    margin: 0 auto;
}

#IntegrationBlock footer .button .btn:hover{
    background-color: #0278d8;
    transition: ease-in-out 0.1s;
}

#IntegrationBlock .iconsBlock{
    display: flex;
    margin-bottom: 30px;
}

#IntegrationBlock .iconsBlock img{
    width: 65px;
    padding-bottom: 20px;
}

#platformBlock .footerBlock2{
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    height: 180px;
    border-radius: 10px;
}

#platformBlock .footerBlock2 h4{
    font-size: 20px;
    font-family: "Google-sans", sans-serif;
    font-weight: 500 20/26px;
    color: rgb(59, 54, 54);
}

#platformBlock .footerBlock2 h5{
    font-size: 14px;
    font-family: "Google-sans", sans-serif;
    color: rgb(148, 148, 148);
}

#platformBlock .footerBlock2 .link{
    color: #039be5;
    font-weight: bold;
}

#platformBlock .card-footer .picture{
   margin-top: 26px;
   padding-left: 100px;
}










